In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.3.5'

In [3]:
df = pd.read_csv("laptops.csv")

In [4]:
df.shape

(2160, 12)

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
df.Brand.nunique()

27

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [16]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

In [18]:
df["Screen"].median()

15.6

In [21]:
df["Screen"].mode()

0    15.6
dtype: float64

In [24]:
df["Screen"].fillna(15.6, inplace=True)

In [25]:
df["Screen"].median()

15.6

In [53]:
X = df[df['Brand'] == 'Innjoo'][["RAM", "Storage", "Screen"]].values

In [54]:
XTX = np.dot(X.T, X)

In [56]:
XTX_inv = np.linalg.inv(XTX)

In [57]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [59]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [61]:
np.sum(w)

91.2998806299555